<div class="main app-container">


    <div class="player-left-box">
      <div *ngIf="this.tableStatus.users && this.tableStatus.users[0]" class="player top">
        <p>{{this.tableStatus.users[0].username}}</p>
        <p>Pénz: {{this.tableStatus.users[0].balance}}</p>
        <p *ngIf="this.isSmallBlind(this.tableStatus.users[0])">Kisvak</p>
        <p *ngIf="this.isBigBlind(this.tableStatus.users[0])">Nagyvak</p>
      </div>
      <div *ngIf="this.tableStatus.users && this.tableStatus.users[1]" class="player middle">
        <p>{{this.tableStatus.users[1].username}}</p>
        <p>Pénz: {{this.tableStatus.users[1].balance}}</p>
        <p *ngIf="this.isSmallBlind(this.tableStatus.users[1])">Kisvak</p>
        <p *ngIf="this.isBigBlind(this.tableStatus.users[1])">Nagyvak</p>
      </div>
    </div>
    <div class="player-bottom-box">
      <div *ngIf="this.tableStatus.users && this.tableStatus.users[2]" class="player bottom right">
        <p>{{this.tableStatus.users[2].username}}</p>
        <p>Pénz: {{this.tableStatus.users[2].balance}}</p>
        <p *ngIf="this.isSmallBlind(this.tableStatus.users[2])">Kisvak</p>
        <p *ngIf="this.isBigBlind(this.tableStatus.users[2])">Nagyvak</p>
      </div>
      <div *ngIf="this.tableStatus.users && this.tableStatus.users[3]" class="player bottom right">
        <p>{{this.tableStatus.users[3].username}}</p>
        <p>Pénz: {{this.tableStatus.users[3].balance}}</p>
        <p *ngIf="this.isSmallBlind(this.tableStatus.users[3])">Kisvak</p>
        <p *ngIf="this.isBigBlind(this.tableStatus.users[3])">Nagyvak</p>
      </div>
      <div *ngIf="this.tableStatus.users && this.tableStatus.users[4]" class="player bottom right">
        <p>{{this.tableStatus.users[4].username}}</p>
        <p>Pénz: {{this.tableStatus.users[4].balance}}</p>
        <p *ngIf="this.isSmallBlind(this.tableStatus.users[4])">Kisvak</p>
        <p *ngIf="this.isBigBlind(this.tableStatus.users[4])">Nagyvak</p>
      </div>
      <div *ngIf="this.tableStatus.users && this.tableStatus.users[5]" class="player bottom right">
        <p>{{this.tableStatus.users[5].username}}</p>
        <p>Pénz: {{this.tableStatus.users[5].balance}}</p>
        <p *ngIf="this.isSmallBlind(this.tableStatus.users[5])">Kisvak</p>
        <p *ngIf="this.isBigBlind(this.tableStatus.users[5])">Nagyvak</p>
      </div>
    </div>
    <div class="player-right-box">
      <div *ngIf="this.tableStatus.users && this.tableStatus.users[6]" class="player  top">
        <p>{{this.tableStatus.users[6].username}}</p>
        <p>Pénz: {{this.tableStatus.users[6].balance}}</p>
        <p *ngIf="this.isSmallBlind(this.tableStatus.users[6])">Kisvak</p>
        <p *ngIf="this.isBigBlind(this.tableStatus.users[6])">Nagyvak</p>
      </div>
      <div *ngIf="this.tableStatus.users && this.tableStatus.users[7]" class="player  middle">
        <p>{{this.tableStatus.users[7].username}}</p>
        <p>Pénz: {{this.tableStatus.users[7].balance}}</p>
        <p *ngIf="this.isSmallBlind(this.tableStatus.users[7])">Kisvak</p>
        <p *ngIf="this.isBigBlind(this.tableStatus.users[7])">Nagyvak</p>
      </div>
  </div>

  <div *ngIf="this.tableStatus.users && this.tableStatus.users.length > 1" class="poker-table">


    <div class="board">
      <div class="cards">
        <div class="card-small">
          <p class="card-text black">A</p>
          <p class="card-img black">&clubs;</p>
        </div>
        <div class="card-small">
          <p class="card-text black">10</p>
          <p class="card-img black">&spades;</p>
        </div>
        <div class="card-small">
          <p class="card-text red">K</p>
          <p class="card-img red">&hearts;</p>
        </div>
        <div class="card-small">
          <p class="card-text red">Q</p>
          <p class="card-img red">&diams;</p>
        </div>
        <div class="card-small">
          <p class="card-text red">2</p>
          <p class="card-img red">&diams;</p>
        </div>
      </div>
      <div class="bet">
        <p>Tét: {{this.tableStatus.pot}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="this.user" class="my-tools">
    <div class="informations">
      <div class="information">
        <p>Pénzem: {{this.user.balance}}</p>
        <p *ngIf="this.tableStatus.table">Aktuális vak: {{this.tableStatus.table.minBid * 2}}</p>
        <p>Aktuális emelés: {{this.tableStatus.currentBet}}</p>
      </div>
      <div class="my-cards">

        <p>Kártyáim</p>
        <div class="card-mine">
          <p class="card-text red">A</p>
          <p class="card-img red">&diams;</p>

        </div>
        <div class="card-mine">
          <p class="card-text red">A</p>
          <p class="card-img red">&spades;</p>
        </div>
      </div>
    </div>
    <div class="my-options">
      <p>Lehetőségek:</p>
      <div class="option"><button [disabled]="!this.myTurn()" type="submit" (click)="check()" class="btn btn-success">Check</button></div>
      <div class="option"><button [disabled]="!this.myTurn()" type="submit" class="btn btn-success">Bedob</button></div>
      <div class="option">
        <input type="text" [disabled]="!this.myTurn()" class="form-control raise" id="raise" name="raise" placeholder="100">
        <button [disabled]="!this.myTurn()" type="submit" class="btn btn-success">Emel</button>
      </div>
      <div class="option"><button [disabled]="!this.myTurn()" type="submit" class="btn btn-success">All in</button></div>




    </div>
  </div>

</div>
