<div class="app-container">

  <h1>Belépés</h1>

  <div *ngIf="this.error" class="alert alert-danger" role="alert">Sikertelen belépési kísérlet!</div>


  <form  #userForm="ngForm">

    <div class="form-group left">
      <mat-form-field class="full-length">
        <input
          name="username"
          [(ngModel)]="user.username"
          matInput type="text"
          placeholder="Felhasználó neve"
          required
          #username="ngModel">
        <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && username.errors.required">
          Szükséges egy felhasználó név!
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field class="full-length">
        <input
          name="password"
          [(ngModel)]="user.password"
          matInput type="password"
          placeholder="Jelszó"
          required
          #password="ngModel">
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
          Szükséges egy jelszót megadni!
        </mat-error>
      </mat-form-field>
      <br>


    </div>

    <button [disabled]="!userForm.valid" type="submit" mat-raised-button color="primary" (click)="login()" class="left">
      <span>Belépés</span>
    </button>
  </form>


</div>

