<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    Online póker
  </button>
  <button mat-button routerLink="/tables">Asztalok</button>
  <button mat-button routerLink="/users">Felhasználók</button>


  <span class="fill-remaining-space"></span>
  <button *ngIf="!this.user" mat-button routerLink="/login">Belépés</button>
  <button *ngIf="!this.user" mat-button routerLink="/register">Regisztráció</button>
  <button *ngIf="this.user" mat-button routerLink="/profile">Profil</button>
  <button *ngIf="this.user" mat-button (click)="this.logout()">Kijelentkezés</button>

</mat-toolbar>
