
<div *ngFor="let error of errors" class="alert alert-danger" role="alert">{{error.message}}</div>
<div *ngIf="success" class="alert alert-success" role="alert">Sikeres módosítás</div>

<form *ngIf="model" (submit)="submit(userForm)" #userForm="ngForm">

  <div class="form-group left">
    <mat-form-field class="full-length">
      <input
        name="username"
        [(ngModel)]="model.username"
        matInput type="text"
        placeholder="Felhasználó neve"
        required
        #username="ngModel">
      <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && username.errors.required">
        Szükséges egy felhasználó név!
      </mat-error>
    </mat-form-field>
      <br>

    <mat-form-field class="full-length">
      <input
        name="password"
        [(ngModel)]="model.password"
        matInput type="password"
        placeholder="Jelszó"
        required
        #password="ngModel">
      <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
        Szükséges egy jelszót megadni!
      </mat-error>
    </mat-form-field>
      <br>

    <mat-form-field class="full-length">
      <input
        name="email"
        [(ngModel)]="model.email"
        matInput type="text"
        placeholder="E-mail cím"
        required
        #email="ngModel">
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">
        Szükséges egy E-mail cím!
      </mat-error>
    </mat-form-field>
      <br>


    <mat-form-field class="full-length">
      <input
        name="firstName"
        [(ngModel)]="model.firstName"
        matInput type="text"
        placeholder="Kereszt név"
        required
        #firstName="ngModel">
      <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required">
        Szükséges egy Kereszt név!
      </mat-error>
    </mat-form-field>
      <br>



    <mat-form-field class="full-length">
      <input
        name="lastName"
        [(ngModel)]="model.lastName"
        matInput type="text"
        placeholder="Vezeték név"
        required
        #lastName="ngModel">
      <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required">
        Szükséges egy Vezeték név!
      </mat-error>
    </mat-form-field>
      <br>


    <mat-form-field *ngIf="this.loggedInUser"  class="full-length">
      <input
        name="balance"
        [(ngModel)]="model.balance"
        matInput type="text"
        placeholder="Felhasználó pénze"
        required
        [disabled]="!this.loggedInUser.isAdmin"
        #balance="ngModel">
      <mat-error *ngIf="balance.invalid && (balance.dirty || balance.touched) && balance.errors.required">
        Szükséges megadni a felhasználó pénzét!
      </mat-error>

    </mat-form-field>
    <button *ngIf="model.balance < 500" type="button" mat-raised-button color="primary" (click)="resetBalance()">
      Újratöltés 500-ra
    </button>
    <br>

    <mat-form-field *ngIf="this.loggedInUser?.isAdmin" class="full-length">
      <mat-select [(value)]="model.isAdmin">
        <mat-option [value]="true">Admin</mat-option>
        <mat-option [value]="false">Felhasználó</mat-option>
      </mat-select>
      <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required">
        Szükséges egy Vezeték név!
      </mat-error>
    </mat-form-field>
      <br>
  </div>

  <button [disabled]="!userForm.valid" type="submit" mat-raised-button color="primary" class="left">
    <span *ngIf="model.id > 0; else elseBlock">Módosítás</span>
    <ng-template #elseBlock>Regisztráció</ng-template>
    </button>
</form>
