<div class="app-container">
  <h1>Asztalok böngészése</h1>
  <form action="searchTableAction" method="GET">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="inputMinLimit">Minimum limit</label>
          <input type="text" class="form-control" placeholder="Minimum limit" id="inputMinLimit" name="minLimit" value="">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-block btn-primary" type="submit">Szűrés</button>
        </div>
      </div>
    </div>
  </form>
  <h2>Találatok ({{tables.length}})</h2>
  <div class="row" >

      <div class="col-md-4" *ngFor="let table of tables">
        <a class="result-item" href="#table/1">
          <div class="panel panel-default">
            <div class="panel-body">
              <strong>Játékosok száma {{table.users.length}}/6</strong>
              <br>
              <strong>Minimum limit: {{table.minBid}}</strong>
              <br>
              <strong>Aktuális vak : {{table.actualBid}}</strong>

            </div>
          </div>
        </a>
      </div>





  </div>
  <div class="text-center">
    <ul class="pagination">
      <li class="active">
        <a href="">1</a>
      </li>
      <li><a href="">2</a></li>
    </ul>
  </div>
</div>
