<div class="app-container">
  <h1>Asztalok böngészése</h1>
  <form action="searchTableAction" method="GET">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="inputMinLimit">Minimum limit</label>
          <input type="text" class="form-control" placeholder="Minimum limit" id="inputMinLimit" name="minLimit" value="">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-block btn-primary" type="submit">Szűrés</button>
        </div>
      </div>
    </div>
  </form>
  <h2>Találatok (4)</h2>
  <div class="row">
    <div class="col-md-4">
      <a class="result-item" href="#table/1">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>Játékosok száma 1/6</strong>
            <br>
            <strong>Minimum limit: 200</strong>
            <br>
            <strong>Aktuális vak : 1000</strong>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="result-item" href="#table/2">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>Játékosok száma 4/6</strong>
            <br>
            <strong>Minimum limit: 1000</strong>
            <br>
            <strong>Aktuális vak : 10000</strong>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="result-item" href="#table/3">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>Játékosok száma 2/6</strong>
            <br>
            <strong>Minimum limit: 100</strong>
            <br>
            <strong>Aktuális vak : 500</strong>
          </div>
        </div>
      </a>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <a class="result-item" href="#table/4">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>Játékosok száma 3/6</strong>
            <br>
            <strong>Minimum limit: 200</strong>
            <br>
            <strong>Aktuális vak : 1000</strong>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="text-center">
    <ul class="pagination">
      <li class="active">
        <a href="">1</a>
      </li>
      <li><a href="">2</a></li>
    </ul>
  </div>
</div>
