.app-container {
  margin-top: 83px;

}

.search-box {
  margin-bottom: 20px;
}

.panel {
  background: #f8f5f0;
  color: #444;
  height: 150px;
}

.result-item:hover {
  text-decoration: none;
}

.panel:hover {
  background: #dfd7ca;
}

.menu {
  height: 50px;
  margin-bottom: 50px;
}

.full-length {
   width: 100%;

}

.left {
  margin-left: 10% !important;

}


.form-group {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
