<div class="app-container">
  <h1>Asztalok böngészése</h1>


  <div *ngIf="tables && tables.length > 0"  class="row  full-length">

      <div class="panel-body col-md-3" *ngFor="let table of tables">
        <div class="panel">
          <a class="result-item"[routerLink]="['/table', table.id ]">
            <div class="panel-body col-md-9 ">
              <strong>Asztal neve: {{table.name}}</strong>
              <br>
              <strong>Játékosok száma {{table.users.length}}/6</strong>
              <br>
              <strong>Minimum limit: {{table.minBid}}</strong>
              <br>
              <strong>Maximum limit {{table.maxBid}}</strong>


            </div>
          </a>

            <div *ngIf="this.user.isAdmin" class="panel-body col-md-3">
              <a mat-icon-button [routerLink]="['/table', 'edit', table.id ]"><mat-icon>edit</mat-icon></a>
              <a mat-icon-button (click)="this.deleteTable(table.id)"><mat-icon>delete</mat-icon></a>
            </div>
          </div>
      </div>





  </div>
  <div class="row full-length">
  <a *ngIf="this.user.isAdmin" mat-raised-button color="primary" [routerLink]="['/table', 'new']"><mat-icon>add</mat-icon>Új asztal létrehozása</a>
  </div>

</div>
