<div class="app-container">
  <h1>Asztalok böngészése</h1>
  <form action="searchTableAction" method="GET">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="inputMinLimit">Minimum limit</label>
          <input type="text" class="form-control" placeholder="Minimum limit" id="inputMinLimit" name="minLimit" value="">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-block btn-primary" type="submit">Szűrés</button>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="tables && tables.length > 0"  class="row" >

      <div class="panel-body col-md-4" *ngFor="let table of tables">
        <div class="panel panel-default">
          <a class="result-item"[routerLink]="['/table', table.id ]">
            <div class="panel-body col-md-9">
              <strong>Asztal neve: {{table.name}}</strong>
              <br>
              <strong>Játékosok száma {{table.users.length}}/6</strong>
              <br>
              <strong>Minimum limit: {{table.minBid}}</strong>
              <br>
              <strong>Maximum limit {{table.maxBid}}</strong>
              <br>
              <strong>Aktuális vak : {{table.actualBid}}</strong>

            </div>
          </a>

            <div class="panel-body col-md-3">
              <a mat-icon-button [routerLink]="['/table', 'edit', table.id ]"><mat-icon>edit</mat-icon></a>
              <a mat-icon-button (click)="this.deleteTable(table.id)"><mat-icon>delete</mat-icon></a>
            </div>
          </div>
      </div>





  </div>
  <a mat-raised-button color="primary" [routerLink]="['/table', 'new']"><mat-icon>add</mat-icon>Új asztal létrehozása</a>


</div>
